
body{
    background:black;
}


/*=========Foreground=========*/
/*========================*/



#right-arrow{
    position: absolute;
    right:1%;
    top:50%;
    transform: translateY(-50%);
    margin-right: 15px;

    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent white;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

#right-arrow:hover{
    right:0.75%;
    border-color: transparent transparent transparent #F9480F;
}

#left-arrow{
    position: absolute;
    left:1%;
    top:50%;
    transform: translateY(-50%);
    margin-left: 15px;

    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 43.3px 25px 0;
    border-color: transparent white transparent transparent;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

#left-arrow:hover{
    left:0.75%;
    border-color: transparent #F9480F transparent transparent;
}

/*=========Slides=========*/
/*========================*/

#background{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.slide{
    position: absolute;
    width:20%;
    height: 100%;
    overflow:hidden;
    visibility: visible;
}

#slide-1{left:0%;}
#slide-2{left:20%;}
#slide-3{left:40%;}
#slide-4{left:60%;}
#slide-5{left:80%;}
#slide-6{left:100%;}
#slide-7{left:120%;}
#slide-8{left:140%;}
#slide-9{left:160%;}
#slide-10{left:180%;}
#slide-11{left:200%;}

#slide-1-front{left:0%;}
#slide-2-front{left:20%;}
#slide-3-front{left:40%;}
#slide-4-front{left:60%;}
#slide-5-front{left:80%;}
#slide-6-front{left:100%;}
#slide-7-front{left:120%;}
#slide-8-front{left:140%;}
#slide-9-front{left:160%;}
#slide-10-front{left:180%;}
#slide-11-front{left:200%;}


.darken{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    background-color: black;
    opacity:0;
    transition: all 0.5s ease-in-out;
}

.slide-header{
    position: absolute;
    display: block;
    width:100%;
    height: 10%;
    bottom:-10%;
    background-color: white;
    opacity:1;
    transition: all 0.5s ease-in-out;
    visibility: visible;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.slide-header h2{
    font-family: 'Teko', sans-serif;
    font-size: 2.4em;
    color:black;
    text-align: center;
}

.slide-text{
    position: absolute;
    display: block;
    width:100%;
    height:0%;
    bottom:35%;
    background-color: black;
    opacity:1;
    transition: all 0.5s ease-in-out;
    visibility: visible;
    text-decoration: none;
}

.slide-text p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color:white;
    text-align: center;
    padding:10px;
    padding-top:0px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.slide-text a{
    position: relative;
    width:100%;
    display: block;
    font-family: 'Teko', sans-serif;
    font-size: 3.2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top:20px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.slide-text a:hover{
    color:#F9480F;
}

.slide-image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height:100%;
}

#pop-up{
    z-index:60;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,0.9);
    display: none;
}

#slide-image-container{
    position: relative;
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    top:50%;
    transform: translateY(-50%);
    overflow: hidden;
    background:black;
}

.slide-image-full{
    position: absolute;
    display: block;
    max-width:100%;
    max-height:100%;
    opacity:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#slide-1 .slide-image{left:35%;}
#slide-2 .slide-image{left:95%;}
#slide-4 .slide-image{left:35%;}
#slide-5 .slide-image{left:0%;}
#slide-6 .slide-image{left:0%;}
#slide-7 .slide-image{left:35%;}
#slide-8 .slide-image{left:0%;}
#slide-10 .slide-image{left:75%;}



#close i{
    position: absolute;
    top:4%;
    right:4%;
    font-size: 2.5em;
    transition: all 0.4s ease-in-out;
    color:white;
}

#close i:hover{
    color:#F9480F;
}

#popup-right-arrow{
    position: absolute;
    right:3%;
    top:50%;
    transform: translateY(-50%);
    margin-right: 15px;

    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 43.3px;
    border-color: transparent transparent transparent white;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

#popup-right-arrow:hover{
    right:2.75%;
    border-color: transparent transparent transparent #F9480F;
}

#popup-left-arrow{
    position: absolute;
    left:3%;
    top:50%;
    transform: translateY(-50%);
    margin-left: 15px;

    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 43.3px 25px 0;
    border-color: transparent white transparent transparent;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

#popup-left-arrow:hover{
    left:2.75%;
    border-color: transparent #F9480F transparent transparent;
}